<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.rs.dao.CrewManageDAO">
	<select id="crewNameList" resultType="com.ict.rs.vo.CrewManageVO">
		select
        	c.no,
        	cm.role AS role,
        	c.status AS crewStatus,  -- 필드명이 중복되지 않도록 별칭 지정       	
        	cm.status AS memberStatus,  -- 필드명이 중복되지 않도록 별칭 지정
        	cm.createdAt,
        	cm.updatedAt,
        	c.name,
        	c.city,
        	c.district,
        	c.runningDay
    	from crewmembers as cm
    	left join crews AS c ON cm.crewNo = c.no
    	where cm.userNo = #{userNo}
	</select>

	<select id="crewMemberList" resultType="com.ict.rs.vo.CrewManageVO">
		select
		crewmembers.crewNO,
		crews.name,
		crewmembers.userNo,
		users.nickName,
		crewmembers.role,
		crewmembers.status,
		DATE_FORMAT(crewmembers.createdAt, '%Y-%m-%d') AS createdAt,
		crews.no,
		crews.status
		from crewmembers
		left join crews on crewmembers.crewNO = crews.no
		left join users on crewmembers.userNO = users.no
		where crewNo in (select crewNo from crewmembers where userNo=${param1} and role = 'leader') and crews.no = crewmembers.crewNo ;
	</select>
	<update id="updateCrewStatus">
		UPDATE crewmembers
		SET status = #{status}
		WHERE crewNO = #{crewNo} AND userNo = #{userNo}
	</update>
</mapper>