<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ict.rs.dao.CrewDAO">
	<select id="crewTopThree">
		select no name, description from crews
		order by no limit 3 offset 0; <!-- 난수 지정해서 랜덤 3개? -->
	</select>
	<select id="crewTotalRecord" resultType="int">
		select count(no) cnt from crews
		where city like #{city}
	</select>
	<select id="crewSelect">
		select no, name, description, city, district  from crews
		where city like #{city} and district like #{district} and name like #{crewName}
		order by no limit ${onePageRecord} offset ${offset}
	</select>
	<insert id="crewInsert">
		insert into crews (userid, name, description, city, district, runningDay, status)
		values(#{userid}, #{name}, #{description}, #{city}, #{district}, #{runningDay}, #{status})
	</insert>
</mapper>