<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ict.rs.dao.MembersDAO">
    <insert id="registerMember">
        insert into users(id, pw, name, nickName, role, addr, email, tel, birth, gender, preferPace, status)
        values(#{id}, #{pw}, #{name}, #{nickName}, #{role}, #{addr}, #{email}, #{tel}, #{birth}, #{gender}, #{preferPace}, #{status})
    </insert>
    <select id="loginOk" resultType="com.ict.rs.vo.MemberVO">
    	select * from users where id = #{param1} and pw = #{param2}
    </select>
    <select id="idDuplicate" resultType="int">
    	select count(*) from users where id = #{param1}
    </select>
    <select id="selectMember">
    	select no, id, name, nickName, email, tel, addr, birth, gender, preferPace 
    	from users
    	where no = #{no}
    </select>
    <update id="updateMember">
    	update users set nickName = #{nickName}, email = #{email}, tel = #{tel}, addr = #{addr}, preferPace = #{preferPace}
		where no = #{no}
    </update>
</mapper>