<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ict.rs.dao.MemberDAO">
    <insert id="registerMember">
        insert into users(id, pw, name, nickName, role, email, tel, birth, gender, preferPace, status)
        values(#{id}, #{pw}, #{name}, #{nickName}, #{role}, #{email}, #{tel}, #{birth}, #{gender}, #{preferPace}, #{status})
    </insert>

</mapper>