<?xml version="1.0" encoding="UTF-8"?>

<!-- https://mybatis.org/mybatis-3/ko/getting-started.html 참조 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ict.rs.dao.RunDAO">
  
    <!-- dao의 method를 찾아가기위해서 id가 dao객체의 method명과 같다. -->
    <!-- vo일 때는 #{변수}로 값을 가져온다. -->
  	<insert id="runInsert" parameterType="com.ict.rs.vo.RunVO" useGeneratedKeys="true" keyProperty="no" keyColumn="no"> 
  		insert into runnings(userno, runningdate, runningcity, region, runningtime, meetingpoint,
  							type, joinednum, runmaxnum, name, crewno, ownerno, status) 
  		values(#{userno}, #{runningdate}, #{runningcity}, #{region}, #{runningtime}, #{meetingpoint}, #{type},
  			   #{joinednum}, #{runmaxnum}, #{name}, #{crewno}, #{ownerno}, #{status}) 
  	</insert>
    	
  	<select id="runList" parameterType="com.ict.rs.vo.RunSelectVO" resultType="com.ict.rs.vo.RunVO">
    	SELECT * FROM runnings
    	<where>
        	<if test="searchDate != null and searchDate != ''">
            	AND runningdate between #{searchDate} and date_add(#{searchDate}, interval 2 day)
        	</if>
        	<if test="searchDay != null and searchDay != ''">	
        	    AND dayname(runningdate) = #{searchDay}  
        	</if>

        	<if test="searchSido != null and searchSido != ''">
        	    AND runningcity = #{searchSido}
        	</if>
        	<if test="searchGu != null and searchGu != ''">
        	    AND region = #{searchGu}
        	</if>
        	<if test="searchCrewName != null and searchCrewName != ''">
        	    AND crewno LIKE CONCAT('%', #{searchCrewName}, '%')
        	</if>
        	<if test="searchTime != null and searchTime != ''">
        	    AND runningtime = #{searchTime}
        	</if>
    	</where>
    	order by runningdate asc
	</select> 
	
	<select id="runInfo"  resultType="com.ict.rs.vo.RunVO">
		select * from runnings 
		where no = #{no} 	
	</select>
	  	
  	<update id="runUpdate">
    	update runnings
    	<set>
    	    <if test="name != null and name != ''">
    	        name = #{name},
    	    </if>
    	    <if test="runningdate != null and runningdate != ''">
    	        runningdate = #{runningdate},
    	    </if>
    	    <if test="runningcity != null and runningcity != ''">
    	        runningcity = #{runningcity},
    	    </if>
    	    <if test="region != null and region != ''">
    	        region = #{region},
    	    </if>
    	    <if test="meetingpoint != null and meetingpoint != ''">
    	        meetingpoint = #{meetingpoint},
    	    </if>
    	    <if test="runningtime != null and runningtime != ''">
    	        runningtime = #{runningtime},
    	    </if>
    	    <if test="type != null and type != ''">
    	        type = #{type},
    	    </if>
    	    <!-- <if test="joinednum != null">
    	        joinednum = #{joinednum},
    	    </if> -->
    	    <if test="runmaxnum != null">
    	        runmaxnum = #{runmaxnum},
    	    </if>
    	</set>
    	where no = #{no}
	</update >
		
	<insert id="runJoin">
		insert into runningParticipateHistories (runningno, userno, status)
    	values (#{param1}, #{param2}, '참여')
	</insert>
	
	<delete id="runLeave">
		delete from runningParticipateHistories 
    	where runningno = #{param1} and userno = #{param2}
	</delete>
	
	<delete id = "participantsDelete">
		delete from runningParticipateHistories where runningno=#{param1}
	</delete>
	
	<delete id="runDelete">
   		delete from runnings
   		where no =#{param1}
	</delete>
		
	<select id="checkJoined" resultType="int">
    	select count(*)
    	from runningParticipateHistories 
		where runningno = #{param1} and userno = #{param2}    	
	</select>
	
	<select id="checkPersonNum">
		select count(*)
    	from runningParticipateHistories
    	where runningno = #{param1} 
	</select>
	
	<update id="personNumInsert">
		update runnings set joinednum =#{param2}
  		where no = #{param1} 
	</update>

  </mapper>
  

  
  


