@charset "UTF-8";

body, ul, li {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a:link, a:visited {
	color: #222;
	text-decoration: none;
}

#logo {
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 3em;
}

.main-menu {
	display: flex;
	justify-content: center;
	background-color: navy;
	font-size: 1.2em;
}

.main-menu>div {
	padding: 10px 10px;
}

.main-menu a:link, .main-menu a:visited {
	color: yellow;
	text-decoration: none;
}

footer{
	height:50px;
	line-height:50px;
	text-align:center;
	background-color:#888;
	color:gray;
}
