#auth {
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-300%);
		color: #FBFFF6;
	}
	#auth a {
        color: #1a1a1a; /* 더 짙은 텍스트 색상 */
        text-decoration: none;
        font-size: 15px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* 부드러운 그림자 */
    }
	#auth a:hover {
		text-decoration: underline;
	}
 	#loginDialog{
	width: 30%;
	height: 45%;
	min-width: 500px;
	border: 2px solid grey;
	background-color:rgba(255, 255, 255, 0.9);
	}
	.btn-close{
	position: absolute;
	right: 8px;
	}
	.loginDialog-header {
		padding:30px 0;
		font-size: 1.7em;
	}
	#id, #pw {
		display: block;
		margin: 10px auto;
		width: 70%;
		padding: 10px;
	}
	.optionBox{
		display: flex;
		justify-content: space-between;
		width: 70%;
		margin: 0 auto 10px;
		font-size: 14px;
		color: #444242;
	}
	.optionBox a {
		text-decoration: none;
		color: #444242;
	}
	.optionBox a:hover {
		text-decoration: underline;
	}
	.log-btn {
		width: 70%;
		height: 60px;
		color: white;
		background-color: #3bcc79;
		font-size: 1.2em;
		border: none;
	}
	#signinDialog{
		width: 30%;
		height: 80%;
		min-width: 700px;
		border: 2px solid grey;
		background-color:rgba(255, 255, 255, 0.9);
	}
	.Signindialog-header {
		padding:30px 0;
		font-size: 1.7em;
	}
	.id-check-btn {
		width: auto;
		font-size: 14px;
		border: 1px solid #ccc;
		background-color: #ddd;
		border-radius: 5px;
	}
	.id-check-btn:hover {
		background-color: #bbb;
	}
	.nickName-check-btn {
		width: auto;
		font-size: 14px;
		border: 1px solid #ccc;
		background-color: #ddd;
		border-radius: 5px;
	}
	.nickName-check-btn:hover {
		background-color: #bbb;
	}
	.signin-form ul {
		list-style: none;
	}
	.signin-form li {
		float: left;
		padding: 5px;
	}
	.signin-form li:nth-child(2n+1){
		width: 45%;
	}

	#tel2, #tel3, #zipcode {
		width: 50px;
	}
	#addr {
		width: 150px;
	}
	#addrDetail {
		width: 250px;
	}
	.zipcode-btn {
		width: auto;
		font-size: 14px;
		border: 1px solid #ccc;
		background-color: #ddd;
		border-radius: 5px;
	}
	.zipcode-btn:hover {
		background-color: #bbb;
	}
	.signin-btn {
		width: 55%;
		height: 60px;
		text-align: center;
		color: white;
		background-color: #3bcc79;
		font-size: 1.2em;
		border: none;
		margin-top: 10px;
	}
	#findIdDialog{
		width: 30%;
		height: 40%;
		min-width: 500px;
		border: 2px solid grey;
		background-color:rgba(255, 255, 255, 0.9);
	}
	#findPwdDialog{
		width: 30%;
		height: 40%;
		min-width: 500px;
		border: 2px solid grey;
		background-color:rgba(255, 255, 255, 0.9);
	}
	#findIdEmail, #findIdPhone {
		display: block;
		margin: 10px auto;
		width: 70%;
		padding: 10px;
	}
	#findPwdId, #findPwdEmail {
		display: block;
		margin: 10px auto;
		width: 70%;
		padding: 10px;
	}